.typeahead {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    position: relative;
}

.typeahead__input {
    font-size: 26px;
    font-family: inherit;
    line-height: 32px;
    border: 1px solid #979797;
    padding: 12px 18px;
    height: 32px;
    vertical-align: middle;
}

.typeahead__result {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    margin: 0;
    padding: 0;
    border: 1px solid #979797;
    background: white;
    list-style: none;
}
.typeahead__result-item {
    padding: 12px 18px;
}