.button {
    font-family: inherit;
    font-size: 48px;
    line-height: 32px;
    background: none;
    border: 1px solid #979797;
    padding: 12px 32px;
    height: 32px;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: content-box;
}
.button {}